# SPDX-FileCopyrightText: 2026 Avish Jha <avish.j@pm.me>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 88

[*.{yml,yaml}]
indent_size = 2
max_line_length = off

[*.{json,jsonc}]
indent_size = 2

[*.md]
indent_size = unset
trim_trailing_whitespace = false
max_line_length = off

[*.toml]
max_line_length = off

[*.properties]
max_line_length = off

[Dockerfile]
max_line_length = off

[justfile]
max_line_length = off

[LICENSE]
indent_size = unset
max_line_length = off

[LICENSES/**]
indent_size = unset
max_line_length = off
